::ng-deep nz-layout{
    height: 100vh;
}

.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
    [nz-typography]{
        text-align: center;
        color: white;
    }
}

nz-breadcrumb {
    margin: 16px 0;
}

nz-content {
    width: 100%;
    margin: 0 auto;
}

nz-footer {
    text-align: center;
}

