<nz-layout class="tw-min-h-screen">
  <nz-content>
    <div class="inner-content tw-bg-white-221 tw-w-full	tw-h-full tw-flex tw-flex-wrap tw-items-stretch">
      <div class="img-login tw-bg-no-repeat tw-bg-center tw-bg-cover tw-w-full tw-relative tw-z-1" style="background-image: url('./assets/farm-sign-in.webp');">
      <div class="img-form tw-bg-white tw-flex tw-flex-wrap tw-rounded-xl	tw-shadow-md tw-m-auto tw-absolute tw-top-1/2 tw-left-1/2 -tw-translate-x-1/2	-tw-translate-y-1/2 "    >
        <router-outlet></router-outlet>
      </div>
      </div>
    </div>
  </nz-content>
  <app-footer></app-footer>
</nz-layout>

