<nz-layout>
  <nz-header>
    <app-header></app-header>
  </nz-header>

  <nz-content>
    <div class="inner-content">
      <div class="img-login" style="background-image: url('./assets/farm-sign-in.webp');">
      <div class="img-form ">
        <router-outlet></router-outlet>
      </div>
      </div>
    </div>
    
    
    
    
    
    
    <!-- <div class="inner-content">
      <div class="img-login" style="background-image: url('./assets/farm-sign-in.webp');">
      <div class="tw-p-10	tw-h-5/6 sm:tw-h-1/5 md:tw-h-2/4 lg:tw-h-3/4 img-form">
        <router-outlet></router-outlet>
      </div>
      </div>
    </div> -->
  </nz-content>
  <app-footer></app-footer>
</nz-layout>

