::ng-deep nz-layout{
    height: 100vh;
}

.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
    [nz-typography]{
        text-align: center;
        color: white;
    }
}
[nz-menu] {
    line-height: 64px;
}

nz-breadcrumb {
    margin: 16px 0;
}
// nz-layout{
//     min-height: 100vh !important;
//     // height: auto;
// }
nz-content {
    padding: 0 50px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    overflow-y: auto;
}

nz-footer {
    text-align: center;
}

.inner-content {
    background: #fff;
    padding: 24px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}