::ng-deep nz-layout{
    height: 100vh;
}

.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
    [nz-typography]{
        text-align: center;
        color: white;
    }
}
[nz-menu] {
    line-height: 64px;
}

nz-breadcrumb {
    margin: 16px 0;
}
// nz-layout{
//     min-height: 100vh !important;
//     // height: auto;
// }
nz-content {
    width: 100%;
    margin: 0 auto;
}

nz-footer {
    text-align: center;
}

.inner-content {
    background: #ddd;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.img-login {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
    z-index: 1;
}

.img-form {
    // width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    // justify-content: center;
    // align-items: center;
    border-radius: 10px;
    box-shadow: 0 10px 5px rgba(255, 255, 255, 0.8);
    margin: auto auto;
    //padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
