:host{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-form-forgot {
    color: #07A04A;
}

.login-form-back {
    color: #07A04A;
}

.login-form-button:valid {
    
    background-color: #07A04A;
    color: white;
}
