<form nz-form [formGroup]="form" class="login-form tw-max-w-xs" (ngSubmit)="submitForm()">
  <div class="tw-bg-white tw-w-48 sm:tw-w-56 md:tw-w-72 lg:tw-w-88 tw-p-6 tw-rounded tw-shadow-sm">
    <div class="tw-flex tw-items-center tw-justify-center tw-mb-4 tw-col-2 tw-grid tw-grid-flow-row tw-auto-rows-max">
  
  <h4 class="tw-text-center	" nz-typography>Lupa Password</h4>
    <nz-form-item>
      <nz-form-control nzErrorTip="Masukkan email anda!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="Email" placeholder="Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div class="login-form-margin tw-mb-4">
        Sudah dapat OTP? <a class="login-form-forgot tw-float-right	" [routerLink]="['../reset-password']" routerLinkActive="router-link-active" >Atur Ulang Password</a>
    </div>
    <button nz-button class="login-form-button login-form-margin tw-mb-4 tw-w-full" [nzType]="'primary'" [disabled]="form.invalid||disabledSubmit">Submit</button>
    Atau
    <a  class="login-form-back" [routerLink]="['../sign-in']">Masuk sekarang</a>
  </div>
</div>
</form>