<form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submitForm()">
    <h1 nz-typography>Lupa Password</h1>
    <nz-form-item>
      <nz-form-control nzErrorTip="Masukkan email anda!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="Email" placeholder="Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div class="login-form-margin">
        Sudah dapat OTP? <a class="login-form-forgot" [routerLink]="['../reset-password']" routerLinkActive="router-link-active" >Atur Ulang Password</a>
    </div>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" [disabled]="form.invalid||disabledSubmit">Submit</button>
    Atau
    <a  [routerLink]="['../sign-in']">Masuk sekarang</a>
</form>