<form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submitForm()">

  <h4 nz-typography style="text-align: center; margin-bottom: -15px; font-weight: bold;">Welcome Back</h4>
  <h5 nz-typography style="text-align: center; padding-bottom:  50px;">Please sign in to access your data</h5>
  <nz-form-item>
    <nz-form-control nzErrorTip="Masukkan Email anda!">
      Email
      <nz-input-group nzPrefixIcon="mail">
        <input type="email" autocomplete="username" nz-input formControlName="Email" placeholder="Email" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Masukkan Password anda!">
      Password
      
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" autocomplete="current-password" nz-input formControlName="Password" placeholder="Password" /> 
        <span nz-icon nzType="eye-invisible" nzTheme="outline"></span>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <div nz-row class="login-form-margin">
    <a style="padding-bottom:  75px; margin-left: auto; margin-right: 0;" class="login-form-forgot" [routerLink]="['../forget-password']" routerLinkActive="router-link-active" >Forgot password?</a>
  </div>
  <button style="border-radius: 6px; padding-left: 20px; padding-right: 20px;padding-bottom: 15px;" nz-button class="login-form-button login-form-margin" [nzType]="'primary'" [disabled]="form.invalid||disabledSubmit">Login</button>
</form>