

:host{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-form {
    max-width: 300px;
    
    h1{
        text-align: center;
    }
}

.login-form-margin {
    margin-bottom: 16px;
}

.login-form-forgot {
    float: right;
    color: #07A04A;
}

.login-form-button {
    left: 50%;
    transform: translate(-50%, 0);
    width: auto;
    background-color: #07A04A;
    color: white;
}

[nz-icon] {
    margin-top: 3px;
    font-size: 18px;
  }