<nz-card style="width: 300px;">
    <nz-card-meta
        nzTitle="{{title}}"
        nzDescription="Microcontroller 2"
      ></nz-card-meta>
      <nz-descriptions>
        <nz-descriptions-item nzTitle="Region">Region 1</nz-descriptions-item>
      </nz-descriptions>
      <div style="display: flex;align-items: center;align-content: center;justify-content: flex-end;">
          <div style="margin-right: 1em;">Aktif</div>
          <nz-switch [ngModel]="true"></nz-switch>
      </div>
</nz-card>
