<nz-card style="width: 400px;">
    <nz-card-meta
        nzTitle="{{ data?.Name ?? '-' }}"
        nzDescription="{{ data?.MicroName ?? '-' }}"
    ></nz-card-meta>
    <nz-descriptions>
      <nz-descriptions-item nzTitle="Description">{{ data?.Description ?? '-' }}</nz-descriptions-item>
    </nz-descriptions>
    <div class="tw-flex tw-justify-end tw-items-center tw-content-center">
        <div style="margin-right: 1em;">{{ status ? 'Aktif' : 'Tidak Aktif' }}</div>
        <nz-switch [(ngModel)]="status"></nz-switch>
    </div>
</nz-card>
