  <div class="land-list-toolbar">
    <form nz-form [formGroup]="form" class="login-form"  style="width: 60%;">
      <nz-form-item >
        <nz-form-control>
          <nz-input-group [nzSuffix]="suffixIconSearch" >
            <input type="text" nz-input formControlName="Search" placeholder="Cari lahan berdasarkan nama atau kode" />
            <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
   
    <button nz-button nzType="primary" (click)="showModalCreate()"><i nz-icon nzType="plus"></i>Tambah Lahan</button>
  </div>
  <nz-list nzItemLayout="vertical" class="land-list-content">
    <nz-list-item *ngFor="let item of data">
      <nz-list-item-meta>
        <nz-list-item-meta-title>
          <a  [routerLink]="'/dashboard/'+item.Id">{{item.Name}} | {{item.Code}}</a>
        </nz-list-item-meta-title>
        <nz-list-item-meta-description>
          {{ item.Address }}
        </nz-list-item-meta-description>
      </nz-list-item-meta>
      <div class="land-item-card">
          <app-card-n [name]="'Region'" icon="build" [n]="item.NRegion"></app-card-n>
          <app-card-n [name]="'Micro controller'" icon="code-sandbox" [n]="item.NMicrocontroller"></app-card-n>
      </div>
        
        <nz-list-item-extra>
          <img width="272" alt="logo" [src]="item.Photo === null || item.Photo === ''? './assets/land-default.jpg':'data:image/png;base64, '+item.Photo" />
        </nz-list-item-extra>
    </nz-list-item>
  </nz-list>
  <nz-pagination 
  [nzPageIndex]="form.controls['Page'].value" 
  [nzTotal]="dataTotal"
  (nzPageIndexChange)="changePageIndex($event)"
  (nzPageSizeChange)="changePageSize($event)"
  ></nz-pagination>
