:host{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.land-list-toolbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.land-list-content{
    margin-top: 1rem;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow-y: auto;
    // // max-height: 70vh;
    // margin-bottom: 1rem;

    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // nz-card{
    //     margin: 0.5rem;
    //     width: 400px;
    //     // flex-basis: auto;
    //     // flex-grow: 0;
    //     // flex-shrink: 0;
    // }
}

.land-item-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    >app-card-n{
        margin-left: 0.5rem;
    }
    >app-card-n:first-child{
        margin-left: 0px;
    }
}