:host{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.land-list-toolbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.land-list-content{
    margin-top: 1rem;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow-y: auto;
}

.land-item-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    >app-card-n{
        margin-left: 0.5rem;
    }
    >app-card-n:first-child{
        margin-left: 0;
    }
}
