<nz-page-header
  class="site-page-header"
  nzTitle="Kamera"
  nzSubtitle="Nama Lahan | Code Lahan"
>
  <nz-page-header-content>
    <button nz-button type="button" (click)="pinCamera()">toggle</button>
    <form  [formGroup]="formMiniPc">
      <nz-select formControlName="IdMiniPc" >
        <nz-option [nzValue]="item.Id" [nzLabel]="item.Name + ' - ' + item.RegionName + ': '+item.PlantName" *ngFor="let item of miniPCs"></nz-option>
      </nz-select>
    </form>
  </nz-page-header-content>
</nz-page-header>

<!-- tampilan belum pilih salah satu (belum pinned) -->
<div *ngIf="!isPinnedView else pinnedViewBlock;" style="white-space: nowrap; display: table;width: max-content;border-collapse: collapse;">
    <div style="display: table-row;">
        <div style="display: table-cell; padding:1em;">
            <!-- <img width="480px" height="320px" [src]="'./assets/land-default2.jpg'" /> -->
            <video id="remote" controls autoplay="true" playsinline="true" #remote ></video>
            <div style="text-align: center;">Region 2</div>
        </div>
        <div style="display: table-cell; padding:1em;">
            <img width="480px" height="320px" [src]="'./assets/land-default2.jpg'" />
            <div style="text-align: center;">Region 2</div>
        </div>
        <div style="display: table-cell; padding:1em;">
            <img width="480px" height="320px" [src]="'./assets/land-default2.jpg'" />
            <div style="text-align: center;">Region 2</div>
        </div>
    </div>
</div>

<!-- Tampilan sudah pilih salah satu (pinned) -->
<ng-template #pinnedViewBlock>


<div 
  style="
    grid-template: 1fr auto / auto;
    display: grid;
    height: calc(100vh - 16.5em);
  "
>
  <div style="background-color: red; display: flex; flex-direction: column;">
    <!-- <img style="flex: 1 1 auto;" [src]="'./assets/land-default2.jpg'" /> -->
    <div style="flex: 1 1 auto; background-image: url('./assets/land-default2.jpg');background-size: cover;background-position: center;">

    </div>
    <div style="text-align: center;">Region 1</div>
    <form
      style="display: flex; width: 100%"
      nz-form
      [formGroup]="form"
    >
      <nz-form-item style="flex: 1 1 auto;margin:0px 0.5em;">
        <nz-form-control>
          <nz-input-group nzPrefixIcon="column-height">
            <nz-slider
              style="width: 100%"
              formControlName="Vertical"
            ></nz-slider>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item style="flex: 1 1 auto;margin:0px 0.5em;">
        <nz-form-control>
          <nz-input-group nzPrefixIcon="column-width">
            <nz-slider
              style="width: 100%"
              formControlName="Horizontal"
            ></nz-slider>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item style="flex: 1 1 auto;margin:0px 0.5em;">
        <nz-form-control>
          <nz-input-group nzPrefixIcon="search">
            <nz-slider
              style="width: 100%"
              formControlName="Zoom"
            ></nz-slider>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div
    style="
      overflow-x: auto;
      width: 100%;
      white-space: nowrap;
      margin-top: 0.5em;
    "
  >
    <div
      style="
        display: inline-block;
        width: 320px;
        height: 180px;
        margin: 0px 0.5em;
        border: 1px solid blue;
      "
    ></div>
    <div
      style="
        display: inline-block;
        width: 320px;
        height: 180px;
        margin: 0px 0.5em;
        border: 1px solid blue;
      "
    ></div>
    <div
      style="
        display: inline-block;
        width: 320px;
        height: 180px;
        margin: 0px 0.5em;
        border: 1px solid blue;
      "
    ></div>
    <div
      style="
        display: inline-block;
        width: 320px;
        height: 180px;
        margin: 0px 0.5em;
        border: 1px solid blue;
      "
    ></div>
    <div
      style="
        display: inline-block;
        width: 320px;
        height: 180px;
        margin: 0px 0.5em;
        border: 1px solid blue;
      "
    ></div>
    <div
      style="
        display: inline-block;
        width: 320px;
        height: 180px;
        margin: 0px 0.5em;
        border: 1px solid blue;
      "
    ></div>
    <div
      style="
        display: inline-block;
        width: 320px;
        height: 180px;
        margin: 0px 0.5em;
        border: 1px solid blue;
      "
    ></div>
    <div
      style="
        display: inline-block;
        width: 320px;
        height: 180px;
        margin: 0px 0.5em;
        border: 1px solid blue;
      "
    ></div>
    <div
      style="
        display: inline-block;
        width: 320px;
        height: 180px;
        margin: 0px 0.5em;
        border: 1px solid blue;
      "
    ></div>
    <div
      style="
        display: inline-block;
        width: 320px;
        height: 180px;
        margin: 0px 0.5em;
        border: 1px solid blue;
      "
    ></div>
    <div
      style="
        display: inline-block;
        width: 320px;
        height: 180px;
        margin: 0px 0.5em;
        border: 1px solid blue;
      "
    ></div>
  </div>
</div>
</ng-template>
<!-- <div nz-row [nzGutter]="100" style="white-space: nowrap; display: table;width: max-content;border-collapse: collapse;">
    <div nz-col [nzSpan]="12">
        <img class="card-image" [src]="'./assets/land-default2.jpg'" />
        <div>
            <label for="">Vertikal</label>
            <nz-slider [(ngModel)]="slider1"></nz-slider>
        </div>
        <div>
            <label for="">Horizontal</label>
            <nz-slider [(ngModel)]="slider1"></nz-slider>
        </div>
    </div>
    <div nz-col [nzSpan]="12">
        <img class="card-image" [src]="'./assets/land-default2.jpg'" />
        <div>
            <nz-slider [(ngModel)]="slider2"></nz-slider>
        </div>
    </div>
</div>

<div nz-row [nzGutter]="100">
    <div nz-col [nzSpan]="12">
        <img class="card-image" [src]="'./assets/land-default2.jpg'" />
        <div>
            <nz-slider [(ngModel)]="slider3"></nz-slider>
        </div>
    </div>
    <div nz-col [nzSpan]="12">
        <img class="card-image" [src]="'./assets/land-default2.jpg'" />
        <div>
            <nz-slider [(ngModel)]="slider4"></nz-slider>
        </div>
    </div>
</div> -->
