:host{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plant-list-toolbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.plant-list-content{
    margin-top: 1rem;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow-y: auto;
}

.plant-table{
    width: 100%;
}
