<form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submitForm()">
    <h1 nz-typography>Atur Ulang Password</h1>
    <nz-form-item>
      <nz-form-control nzErrorTip="Masukkan email anda!">
        <nz-input-group nzPrefixIcon="mail">
          <input type="text" nz-input formControlName="Email" placeholder="Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Masukkan kode OTP!">
          <nz-input-group nzPrefixIcon="number">
            <input type="text" nz-input formControlName="Otp" placeholder="Kode OTP" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Masukkan password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="Password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" [disabled]="form.invalid||disabledSubmit">Submit</button>
    Atau
    <a [routerLink]="['../sign-in']" routerLinkActive="router-link-active" >Masuk.</a>
</form>