<form nz-form [formGroup]="form" class="login-form tw-max-w-xs" (ngSubmit)="submitForm()">
  <div class="tw-bg-white tw-w-48 sm:tw-w-56 md:tw-w-72 lg:tw-w-88 tw-p-6 tw-rounded tw-shadow-sm">
    <div class="tw-flex tw-items-center tw-justify-center tw-mb-4 tw-col-2 tw-grid tw-grid-flow-row tw-auto-rows-max">
    <h4 class="tw-text-center	" nz-typography>Atur Ulang Password</h4>
    <nz-form-item>
      <nz-form-control nzErrorTip="Masukkan email anda!">
        <nz-input-group nzPrefixIcon="mail">
          <input type="text" nz-input formControlName="Email" placeholder="Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Masukkan kode OTP!">
          <nz-input-group nzPrefixIcon="number">
            <input type="text" nz-input formControlName="Otp" placeholder="Kode OTP" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Masukkan password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="Password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    
    <button nz-button class="login-form-button login-form-margin tw-mb-4 tw-w-full" [nzType]="'primary'" [disabled]="form.invalid||disabledSubmit">Submit</button>
    Atau
    <a class="login-form-back" [routerLink]="['../sign-in']" routerLinkActive="router-link-active" >Masuk.</a>
    </div>
  </div>
</form>