<form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submitForm()">
  <div *nzModalTitle>
    <h3 nz-typography>Tambah Tanaman</h3>
  </div>
  <div>
    <nz-form-item>
      <nz-form-control nzErrorTip="Masukkan nama tanaman anda!">
        <nz-input-group nzPrefixIcon="bank">
          <input
            type="text"
            nz-input
            formControlName="Name"
            placeholder="Nama Tanaman"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Masukkan kode tanaman anda!">
        <nz-input-group nzPrefixIcon="qrcode">
          <input
            type="text"
            nz-input
            formControlName="Code"
            placeholder="Kode Tanaman"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Masukkan deskripsi tanaman anda!">
        <nz-input-group nzPrefixIcon="compass">
          <input
            type="text"
            nz-input
            formControlName="Description"
            placeholder="Deskripsi Tanaman"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- <nz-list nzItemLayout="vertical" class="land-list-content"  formArrayName="Parameters">
      <nz-list-item *ngFor="let skill of Parameters.controls; let i=index"> 
        <div [formGroupName]="i" >
          
        </div>
      </nz-list-item>
    </nz-list> -->

    <nz-list nzItemLayout="vertical" class="land-list-content"  >
      <nz-list-item > 
        <div>
          <div nz-row>
            <div nz-col nzSpan="6">col-8</div>
          </div>
          <div nz-row>
            <div nz-col nzSpan="12" nzOffset="6">col-8 offset-6</div>
          </div>
          <div nz-row>
            <div nz-col nzSpan="12" nzOffset="6">col-8 offset-6</div>
          </div>
          <div nz-row>
            <div nz-col nzSpan="12" nzOffset="6">col-8 offset-6</div>
          </div>
        </div>
      </nz-list-item>
    </nz-list>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" type="button" (click)="destroyModal()">
      Cancel
    </button>
    <button
      nz-button
      nzType="primary"
      type="submit"
      (click)="submitForm()"
      [disabled]="form.invalid"
      [nzLoading]="isSubmitLoading"
    >
      Submit
    </button>
  </div>
</form>
