<nz-page-header
  class="site-page-header"
  nzTitle="Microcontroller"
  nzSubtitle="Nama Lahan | Code Lahan"
>
  <nz-page-header-content></nz-page-header-content>
</nz-page-header>

<div class="land-region-list-toolbar">
  <form nz-form [formGroup]="form" class="login-form" style="width: 60%">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input
            type="text"
            nz-input
            formControlName="Search"
            placeholder="Cari region berdasarkan nama atau kode"
          />
          <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
          </ng-template>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </form>
  <button nz-button nzType="primary" (click)="showModalCreate()">
    <i nz-icon nzType="plus"></i>Tambah Microcontroller
  </button>
</div>

<nz-table
  #mcTable
  [nzData]="data"
  class="land-region-list-content"
  [nzPageSize]="form.controls['N'].value"
  [nzPageIndex]="form.controls['Page'].value"
  (nzPageIndexChange)="changePageIndex($event)"
>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nama</th>
      <th>Deskripsi</th>
      <th>Region</th>
      <th>Status</th>
      <th>Detail</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of mcTable.data">
      <td>{{ item.Id }}</td>
      <td>{{ item.Name }}</td>
      <td>{{ item.Description }}</td>
      <td>{{ item.RegionName }}</td>
      <td [ngClass]="item.Status ? 'con' : 'dcon'">
        {{ item.Status ? "Connected" : "Disconnected" }}
      </td>
      <td>
        <button nz-button nzType="primary" (click)="showModalUpdate(item.Id)">
          <i nz-icon nzType="edit"></i>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
<!-- <nz-pagination
    [nzPageIndex]="form.controls['Page'].value"
    [nzTotal]="dataTotal"
    (nzPageIndexChange)="changePageIndex($event)"
    (nzPageSizeChange)="changePageSize($event)"
  ></nz-pagination> -->
