<nz-page-header
  class="site-page-header"
  nzTitle="Parameter"
  nzSubtitle="Nama Lahan | Code Lahan"

>
  <nz-page-header-content></nz-page-header-content>
</nz-page-header>

<form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
  <div style="display: flex;flex-direction: row;align-items: center; margin:1.5em 0em;">
    <nz-date-picker
      [(ngModel)]="dateValue"
      nzMode="date"
      [nzFormat]="'dd/MM/yyyy'"
      nzPlaceHolder="Masukkan Tanggal"
    ></nz-date-picker>

    <nz-select nzAllowClear nzShowSearch style="margin-left:16px;" nzPlaceHolder="Masukkan Region Anda">
      <nz-option
        *ngFor="let option of regionOptions"
        [nzLabel]="option.Name + ' - ' + option.PlantName"
        [nzValue]="option.Id"
      ></nz-option>
    </nz-select>

    <nz-radio-group [(ngModel)]="radioValue" style="margin-left:16px;">
      <label nz-radio nzValue="m">Mode Microcontroller</label>
      <label nz-radio nzValue="s">Mode Sensor</label>
    </nz-radio-group>
  </div>

  <nz-form-item>
    <nz-form-control>
        <nz-select formControlName="">
          <nz-option
            *ngFor="let option of listOfFirstParams"
            [nzLabel]="option.Name"
            [nzValue]="option.Name"
          ></nz-option>
        </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Pilih parameter">
      <nz-select
        formControlName="ChosenParameterIds"
        nzMode="multiple"
        nzPlaceHolder="Please select"
        style="min-width: 200px"
      >
        <nz-option
          *ngFor="let option of listOfSecondParams"
          [nzLabel]="option.Name"
          [nzValue]="option.Name"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button
        nz-button
        nzType="primary"
        [disabled]="!form.valid && isLoading === false"
      >
        Cari
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
<nz-divider></nz-divider>
