<nz-card style="width: 450px;min-height: 9em;" class="param-card">
    <nz-card-meta [nzTitle]="group_name"></nz-card-meta>
    <div style="text-align: right;"><h2 nz-typography>{{value}}</h2></div>
    <div style="display: flex; flex-direction: row; flex-wrap: nowrap;">
        <!-- <div style="flex: 1 1 0%; text-align: center;">
            <div style="word-break: normal;">Asam</div>
            <div style="width: 100%;height: 2em;line-height: 2em; background-color: red;">
                0 - 3
            </div>
        </div>
        <div style="flex: 3 1 0%; text-align: center;">
            <div style="word-break: normal;">Optimal</div>
            <div style="width: 100%;height: 2em;line-height: 2em; background-color: green;">
                3 - 8
            </div>
        </div>
        <div style="flex: 2 1 0%; text-align: center;">
            <div style="word-break: normal;">Basa</div>
            <div style="width: 100%;height: 2em;line-height: 2em; background-color: blue;">
                8-14
            </div>
        </div> -->
        <div style="flex: 2 1 0%; text-align: center;" *ngFor="let item of desc">
            <div style="word-break: normal;">{{item.Description}}</div>
            <div style="width: 100%;height: 2em;line-height: 2em;"[ngStyle]="{'background-color': item.Color}">
                {{item.MinValue}}-{{item.MaxValue}}
            </div>
        </div>
    </div>
    

  </nz-card>
  