<nz-layout>
    <nz-header>
      <div class="logo">
        <h3 nz-typography>GH C</h3>
      </div>
      <button *ngIf="tokenObj!==null"  nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomRight" nz-button nzType="primary" nzShape="circle" style="float: right;  margin: 16px 24px 16px 0;"><i nz-icon nzType="user"></i></button>
      <nz-dropdown-menu  #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>{{tokenObj?.given_name}}</li>
          <li nz-menu-item (click)="logout()"><i nz-icon nzType="logout"></i> Keluar</li>
        </ul>
      </nz-dropdown-menu>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement Using Angular</nz-footer>
</nz-layout>

