
<form nz-form [formGroup]="form" class="login-form" >
    <div *nzModalTitle>
      <h3 nz-typography>Tambah Sensor Lahan</h3>
    </div>
    <div>
      <nz-form-item>
        <nz-form-control nzErrorTip="Masukkan nama sensor anda!">
          <nz-input-group nzPrefixIcon="bank">
            <input
              type="text"
              nz-input
              formControlName="Name"
              placeholder="Nama Sensor"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Masukkan deskripsi anda!">
          <nz-input-group nzPrefixIcon="compass">
            <input
              type="text"
              nz-input
              formControlName="Description"
              placeholder="Deskripsi sensor"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Masukkan microcontroller anda!">
          <nz-input-group nzPrefixIcon="compass">
            <nz-select formControlName="MicroId" nzPlaceHolder="Microcontroller">
              <nz-option [nzValue]="item.Id" [nzLabel]="item.Name" *ngFor="let item of micros"></nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Masukkan jenis sensor anda!">
          <nz-input-group nzPrefixIcon="compass">
            <nz-select formControlName="Type" nzPlaceHolder="Jenis sensor">
              <nz-option [nzValue]="item.Id" [nzLabel]="item.Name" *ngFor="let item of sensorTypes"></nz-option>
<!--              <nz-option [nzValue]="item.Id" [nzLabel]="item.Name" *ngFor="let item of sensorTypes"></nz-option>-->
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div *nzModalFooter>
      <button nz-button nzType="default" type="button" (click)="destroyModal()">
        Cancel
      </button>
      <button
        nz-button
        nzType="primary"
        type="submit"
        [disabled]="form.invalid"
        [nzLoading]="isSubmitLoading"
        (click)="submitForm()"
      >
        Submit
      </button>
    </div>
  </form>
