<nz-page-header
      class="site-page-header"
      nzBackIcon
      nzTitle="WATERING"
    >
</nz-page-header>

<div style="background: #ECECEC;padding:30px;">
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="8">

      <nz-card [nzBordered]="false" nzTitle="North">
        <p></p>
        <p></p>
    </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card [nzBordered]="false" nzTitle="East">
        <p></p>
        <p></p>
    </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
        <nz-card [nzBordered]="false" nzTitle="west">
          <p></p>
          <p></p>
      </nz-card>
      </div>
    <div nz-col [nzSpan]="8">
      <nz-card [nzBordered]="false" nzTitle="South">
        <p></p>
        <p></p>
    </nz-card>
    </div>
  </div>
</div>
