/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/style/index.min.css";
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
}
.ant-checkbox-group.checkbox-group-vertical{
    display: flex;
    flex-direction: column;
}