/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~ng-zorro-antd/style/index.min.css";
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
}
.ant-checkbox-group.checkbox-group-vertical{
    display: flex;
    flex-direction: column;
}
.con{
    color: rgb(0, 197, 46);
}
.dcon{
    color: rgb(223, 26, 0)
}
