<!-- <router-outlet></router-outlet> -->
<nz-layout>
  <nz-sider nzWidth="200px" nzTheme="light" style="z-index: 999;">
    <!-- <nz-page-header
      class="site-page-header"
      nzBackIcon
      [nzTitle]="ToHome"
      (nzBack)="onBack()"
      ></nz-page-header> -->
      
      <ul nz-menu nzMode="inline" class="sider-menu tw-space-y-8">
        
        <li>
          <img class src="./assets/logo.png" alt="Logo" class="tw-w-4/5 tw-h-full tw-mx-6 tw-mt-4">
          </li>
        
        
        <li  
        nz-menu-item
        [routerLink]="'/home/land'">
        <span nz-icon nzType="arrow-left"></span>
        <span class="tw-font-bold"> Lahan </span>
    </li>

      <li
        nz-menu-item
        [routerLink]="'./overview'"
        [routerLinkActive]="'ant-menu-item-selected'"
      >
        <span style="color: #0C9DA4;" nz-icon nzType="codepen"></span>
        <span style="color: #0C9DA4;" class="tw-font-bold">Detail Lahan</span>
      </li>
      <li
        nz-menu-item
        [routerLink]="'./parameter'"
        [routerLinkActive]="'ant-menu-item-selected'"
      >
        <span style="color: #F89747;" nz-icon nzType="dot-chart"></span>
        <span style="color: #F89747;" class="tw-font-bold">Detail Parameter</span>
      </li>
      <li nz-menu-item [routerLink]="'./camera'" [routerLinkActive]="'ant-menu-item-selected'">
        <span style="color: #BB2026;" nz-icon nzType="camera"nzTheme="fill" ></span>
        <span style="color: #BB2026;" class="tw-font-bold">Kamera</span>
      </li>
      <li
        nz-menu-item
        [routerLink]="'./actuator'"
        [routerLinkActive]="'ant-menu-item-selected'"
      >
        <span style="color: #07A04A;" nz-icon nzType="medicine-box"></span>
        <span style="color: #07A04A;" class="tw-font-bold">Kesehatan Tanaman</span>
      </li>
      <li
        nz-menu-item
        [routerLink]="'./actuator'"
        [routerLinkActive]="'ant-menu-item-selected'"
      >
        <span style="color: #0C9DA4;" nz-icon nzType="project"></span>
        <span style="color: #0C9DA4;" class="tw-font-bold">Pemeliharaan</span>
      </li>
      <li
        nz-menu-item
        [routerLink]="'./actuator'"
        [routerLinkActive]="'ant-menu-item-selected'"
      >
        <span style="color: #F89747;" nz-icon nzType="tool"></span>
        <span style="color: #F89747;" class="tw-font-bold">Pengaturan Aktuator</span>
      </li>
      <li
      nz-menu-item
      [routerLink]="'./region'"
      [routerLinkActive]="'ant-menu-item-selected'"
      >
      <span style="color: #BB2026;" nz-icon nzType="table"></span>
      <span style="color: #BB2026;" class="tw-font-bold">Pengaturan Petak</span>
    </li>
    <li
    nz-menu-item
    [routerLink]="'./minipc'"
    [routerLinkActive]="'ant-menu-item-selected'"
    >
    <span style="color: #07A04A;" nz-icon nzType="table"></span>
    <span style="color: #07A04A;" class="tw-font-bold">Pengaturan Mini PC</span>
  </li>
      <li
        nz-menu-item
        [routerLink]="'./microcontroller'"
        [routerLinkActive]="'ant-menu-item-selected'"
      >
        <span style="color: #0C9DA4;" nz-icon nzType="table"></span>
        <span style="color: #0C9DA4;" class="tw-font-bold">Pengaturan Micro</span>
      </li>
      <li
        nz-menu-item
        [routerLink]="'./sensor'"
        [routerLinkActive]="'ant-menu-item-selected'"
      >
        <span style="color: #F89747;" nz-icon nzType="table"></span>
        <span style="color: #F89747;" class="tw-font-bold">Pengaturan Sensor</span>
      </li>
      <li
        nz-menu-item
        [routerLink]="'./healths'"
        [routerLinkActive]="'ant-menu-item-selected'"
      >
        <span nz-icon nzType="medicine-box" nzTheme="outline"></span>
        <span>Kesehatan Tanaman</span>
      </li>
    </ul>
  </nz-sider>
  <nz-header style="z-index: 999;">
    <app-header></app-header>
    <!-- <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
          <li nz-menu-item>nav 1</li>
          <li nz-menu-item nzSelected>nav 2</li>
          <li nz-menu-item>nav 3</li>
        </ul> -->
  </nz-header>
  <nz-content class="outer-content">
    <!-- <nz-breadcrumb>
          <nz-breadcrumb-item>Home</nz-breadcrumb-item>
          <nz-breadcrumb-item>List</nz-breadcrumb-item>
          <nz-breadcrumb-item>App</nz-breadcrumb-item>
        </nz-breadcrumb> -->
    <nz-layout class="inner-layout">

      <nz-content class="inner-content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
    <app-footer></app-footer>
  </nz-content>
</nz-layout>
