<!-- <router-outlet></router-outlet> -->
<nz-layout>
  <nz-sider nzWidth="200px" nzTheme="light" style="z-index: 999;">
    <nz-page-header
      class="site-page-header"
      nzBackIcon
      [nzTitle]="ToHome"
      (nzBack)="onBack()"
    ></nz-page-header>
    <ng-template #ToHome>
      <span> Home </span>
    </ng-template>

    <ul nz-menu nzMode="inline" class="sider-menu">
      <li
        nz-menu-item
        [routerLink]="'./overview'"
        [routerLinkActive]="'ant-menu-item-selected'"
      >
        <span nz-icon nzType="build"></span>
        <span>Dashboard</span>
      </li>
      <li
        nz-menu-item
        [routerLink]="'./parameter'"
        [routerLinkActive]="'ant-menu-item-selected'"
      >
        <span nz-icon nzType="build"></span>
        <span>Parameter</span>
      </li>
      <li nz-menu-item [routerLink]="'./camera'" [routerLinkActive]="'ant-menu-item-selected'">
        <span nz-icon nzType="audit"></span>
        <span>Camera</span>
      </li>
      <li
        nz-menu-item
        [routerLink]="'./region'"
        [routerLinkActive]="'ant-menu-item-selected'"
      >
        <span nz-icon nzType="control"></span>
        <span>Region</span>
      </li>
      <li
        nz-menu-item
        [routerLink]="'./microcontroller'"
        [routerLinkActive]="'ant-menu-item-selected'"
      >
        <span nz-icon nzType="control"></span>
        <span>Microcontroller</span>
      </li>
      <li
        nz-menu-item
        [routerLink]="'./sensor'"
        [routerLinkActive]="'ant-menu-item-selected'"
      >
        <span nz-icon nzType="control"></span>
        <span>Sensor</span>
      </li>
      <li
        nz-menu-item
        [routerLink]="'./actuator'"
        [routerLinkActive]="'ant-menu-item-selected'"
      >
        <span nz-icon nzType="node-collapse"></span>
        <span>Actuator</span>
      </li>
    </ul>
  </nz-sider>
  <nz-header style="z-index: 999;">
    <app-header></app-header>
    <!-- <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
          <li nz-menu-item>nav 1</li>
          <li nz-menu-item nzSelected>nav 2</li>
          <li nz-menu-item>nav 3</li>
        </ul> -->
  </nz-header>
  <nz-content class="outer-content">
    <!-- <nz-breadcrumb>
          <nz-breadcrumb-item>Home</nz-breadcrumb-item>
          <nz-breadcrumb-item>List</nz-breadcrumb-item>
          <nz-breadcrumb-item>App</nz-breadcrumb-item>
        </nz-breadcrumb> -->
    <nz-layout class="inner-layout">
      
      <nz-content class="inner-content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
    <app-footer></app-footer>
  </nz-content>
</nz-layout>
