nz-header {
    position: fixed;
    width: 100%;
  }
  nz-sider {
    overflow: auto;
    position: fixed;
    left: 0;
    top: 4em;
    bottom: 0;
  }
.header-menu {
    line-height: 64px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-layout {
    padding: 1em 0;
    background: #fff;
  }

  .inner-content {
    margin-left: 200px;
    margin-top: 4em;
    padding: 0 24px;
    min-height: calc(100vh - 10.5em);
  }

