<div class="tw-m-4">
  <div class="tw-flex tw-justify-start tw-items-center">
    <a routerLink=".." class="tw-text-black">
      <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
    </a>
    <h2 class="tw-m-0 tw-ml-3">Detail Pantauan Penyakit</h2>
  </div>

  <form>
    <div class="tw-flex tw-flex-col tw-space-y-4">
      <div class="tw-w-1/2 tw-pr-4">
        <p>Nama Penyakit<span class="tw-text-red-500">*</span></p>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Pilih penyakit" class="tw-w-full">
          <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
        </nz-select>
      </div>
      <div class="tw-grid md:tw-grid-cols-2 tw-grid-cols-1 tw-gap-4">
        <div class="tw-flex tw-flex-col tw-space-y-4">
          <div>
            <p>Lokasi Petak<span class="tw-text-red-500">*</span></p>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Pilih penyakit" class="tw-w-full">
              <nz-option nzLabel="Petak 10" nzValue="petak10"></nz-option>
            </nz-select>
          </div>
          <div class="tw-grid tw-grid-cols-1 tw-gap-2">
            <p>Pilih Lokasi<span class="tw-text-red-500">*</span></p>
            <div class="tw-block tw-w-full tw-h-64"
                 leaflet
                 [leafletOptions]="leafletOptions">
              <div *ngFor="let layer of leafletLayers" [leafletLayer]="layer.marker"></div>
            </div>
            <div class="tw-flex tw-flex-col tw-space-y-2">
              <div class="tw-flex tw-w-full tw-justify-between tw-items-center tw-p-2 tw-border-solid tw-border tw-border-b-gray-300" *ngFor="let layer of leafletLayers; index as i">
                <div class="tw-font-bold">Marker {{ layer.markerId }}</div>
                <div>
                  <p class="tw-m-0">
                    <span class="tw-font-bold">Lat:</span> {{ layer.marker.getLatLng().lat }}
                  </p>
                  <p class="tw-m-0">
                    <span class="tw-font-bold">Lon:</span> {{ layer.marker.getLatLng().lng }}
                  </p>
                </div>
                <div>
                  <button (click)="popMarker(i)" type="button" class="tw-bg-red-500 tw-text-white tw-border-none tw-cursor-pointer">
                    <span nz-icon nzType="delete" nzTheme="outline"></span>
                  </button>
                </div>
              </div>
            </div>
            <button type="button" (click)="addMarker()" class="tw-border tw-border-b-gray-500 tw-text-gray-500 tw-px-4 tw-py-1 tw-cursor-pointer">
              <span nz-icon nzType="plus" nzTheme="outline"></span> Marker
            </button>
          </div>
        </div>
        <div class="tw-flex tw-flex-col tw-space-y-4">
          <div>
            <p>Kondisi<span class="tw-text-red-500">*</span></p>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Pilih Perawatan" class="tw-w-full">
              <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
            </nz-select>
          </div>
          <div>
            <p>Bukti Penyakit<span class="tw-text-red-500">*</span></p>
            <nz-upload
              nzType="drag"
              [nzMultiple]="true"
              nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
              (nzChange)="handleChange($event)"
              class="tw-block"
            >
              <p class="ant-upload-drag-icon">
                <span nz-icon nzType="cloud-upload" nzTheme="outline"></span>
              </p>
              <p class="ant-upload-text">Upload Bukti Penyakit</p>
            </nz-upload>
          </div>
        </div>
      </div>
      <div class="tw-flex tw-justify-end">
        <button>
          Simpan
        </button>
      </div>
    </div>
  </form>

</div>
