<form nz-form [formGroup]="form" class="login-form" >
  <div *nzModalTitle>
    <h3 nz-typography>Tambah Mini PC Lahan</h3>
  </div>
  <div>
    <nz-form-item>
      <nz-form-control nzErrorTip="Masukkan nama Mini PC anda!">
        <nz-input-group nzPrefixIcon="bank">
          <input
            type="text"
            nz-input
            formControlName="Name"
            placeholder="Nama Mini PC"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Masukkan deskripsi anda!">
        <nz-input-group nzPrefixIcon="compass">
          <input
            type="text"
            nz-input
            formControlName="Description"
            placeholder="Deskripsi Mini PC"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Masukkan Kode Mini PC!">
        <nz-input-group nzPrefixIcon="compass">
          <input
            type="text"
            nz-input
            formControlName="Code"
            placeholder="Masukkan Kode Mini PC"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Masukkan Password Mini PC!">
        <nz-input-group nzSearch nzPrefixIcon="compass" [nzAddOnAfter]="suffixIconButton">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
            formControlName="Secret"
            placeholder="Masukkan Password Mini PC" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzSearch>
            <span
              nz-icon
              [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
              (click)="passwordVisible = !passwordVisible"></span>
          </button>
          <button nz-button nzType="primary" nzSearch (click)="generateRandom()"><span nz-icon nzType="reload" nzTheme="outline"></span></button>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Masukkan region anda!">
        <nz-input-group nzPrefixIcon="compass">
          <nz-select formControlName="RegionId" nzPlaceHolder="Region">
            <nz-option [nzValue]="item.Id" [nzLabel]="item.Name" *ngFor="let item of regions"></nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" type="button" (click)="destroyModal()">
      Cancel
    </button>
    <button
      nz-button
      nzType="primary"
      type="submit"
      [disabled]="form.invalid"
      [nzLoading]="isSubmitLoading"
      (click)="submitForm()"
    >
      Submit
    </button>
  </div>
</form>
